<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=SHAREBBDD;Initial Catalog=AplicacionesGM_MVC;User ID=sa;Password=Grup0m0r@;" providerName="System.Data.SqlClient" />
    <add name="as400ConnectionString" connectionString="Dsn=as400;uid=QSUSER;pwd=INFORGES" providerName="System.Data.Odbc" />
    <add name="BDClientesSQL" connectionString="Data Source=SHAREBBDD;Initial Catalog=CLIENTES;Persist Security Info=True;User ID=clientes;Password=grupomora" providerName="System.Data.SqlClient" />
    <add name="AplicacionesGM_MVCEntities" connectionString="metadata=res://*/Models.AplicacionesGM_MVC.csdl|res://*/Models.AplicacionesGM_MVC.ssdl|res://*/Models.AplicacionesGM_MVC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SHAREBBDD;initial catalog=AplicacionesGM_MVC;user id=sa;password=Grup0m0r@;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BDClientesSQLEntities" connectionString="metadata=res://*/Areas.Clientes.Models.BDClientesSQL.csdl|res://*/Areas.Clientes.Models.BDClientesSQL.ssdl|res://*/Areas.Clientes.Models.BDClientesSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SHAREBBDD;initial catalog=CLIENTES;persist security info=True;user id=clientes;password=grupomora;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BDPlanificacionTransportes" connectionString="metadata=res://*/Areas.Clientes.Models.BDPlanificacionDeTransporteSQL.csdl|res://*/Areas.Clientes.Models.BDPlanificacionDeTransporteSQL.ssdl|res://*/Areas.Clientes.Models.BDPlanificacionDeTransporteSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SHAREBBDD;initial catalog=PlanificacionTransportes_v2014;persist security info=True;user id=planificacionTransportesAdmin;password=admin;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BDPlanificacionTransportesEntities" connectionString="metadata=res://*/Areas.Clientes.Models.BDPlanificacionTransportes.csdl|res://*/Areas.Clientes.Models.BDPlanificacionTransportes.ssdl|res://*/Areas.Clientes.Models.BDPlanificacionTransportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SHAREBBDD;initial catalog=PlanificacionTransportes_v2014;persist security info=True;user id=planificacionTransportesAdmin;password=admin;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime executionTimeout="999" maxRequestLength="2097151" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
      <properties>
        <add name="IDAgenteQSMV" />
        <add name="IDAgenteQSHMA" />
        <add name="IDAgenteQSECA" />
        <add name="Subordinados" />
        <add name="Origenes" />
        <add name="AplicacionesGM" />
      </properties>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>